h1 {color: white}
body {background-color: black; display: flex; align-items: center;}
#matrix-rain {position: fixed; top: 0; left: 0;}
.matrix-rain-rainDrop {display: flex; flex-direction: column; color: white; position: fixed; top: 0; left: 0; font-size: 40px;}
.matrix-rain-droplet {display: flex; flex-direction: column; color: white; position: fixed; top: 0; left: 0; font-size: 40px; animation-name: droplet-fade; animation-duration: 6s; animation-iteration-count: 1; animation-fill-mode: forwards}
@keyframes droplet-fade {
  0% {color: white; opacity: 1;}
  10% {color: #00ff00; opacity: 1;}
  100% {opacity: 0;}
}