:root {
  --highlight-color: white;
  --test-output-result-color: #00ff00;
  --main-color-rgb: 0, 255, 0;
  --main-color-hex: #00ff00;
  --main-color: var(--main-color-hex);
}

body {background: black; padding: 0; margin: 0; display: flex;}
#sidebar {height: calc(100% - 2px); width: 140px; display: flex; align-items: center; justify-content: center; border: var(--highlight-color) solid 1px; background: rgba(0, 0, 0, 0.6)}
#sidebar ul {list-style-type: none; padding: 0;}
#sidebar ul li {display: flex; list-style-type: none; align-items: center}
#sidebar ul li p {color: white; width: 100px; font-family: 'Ubuntu'; margin-left: 5px; margin-right: 5px}
.checkbox {width: 20px; height: 20px; background-color: red; margin-left: 5px; margin-right: 5px; border: white solid 1px;}

#code-area-container {height: 100%; width: calc(100% - 184px)}
#code-area {height: calc(100% - 40px); margin: 20px;}
#tabs {overflow-x: auto; position: relative; white-space: nowrap; height: 40px; overflow-y: hidden}
#test-output-container {width: 40px; height: calc(100% - 2px); border: var(--highlight-color) solid 1px;}
#tabs::-webkit-scrollbar {width: 5px; height: 5px; transition: 1s; }
#tabs:hover::-webkit-scrollbar {height: 10px;}
#tabs::-webkit-scrollbar-track {background: rgba(0, 0, 0, 0.8); border: white solid 1px}
#tabs::-webkit-scrollbar-thumb {border: white solid 1px; background: rgb(var(--main-color-rgb));}
#tabs::-webkit-scrollbar-thumb:hover {background: rgb(var(--main-color-rgb));}
.tab {height: 30px; background: rgba(0, 0, 0, 0.8); width: 150px; border: var(--highlight-color) solid 1px; display: inline-block; vertical-align: bottom; color: white; font-family: 'Ubuntu'; cursor: default}
.tab .edit-input {all: unset; font-family: 'Roboto'; width: 100%;}
.tab .input-wrapper {display: none; flex-grow: 1; margin: 0 5px 0 5px; }
.tab span {cursor: pointer;}
.tab.editing .input-wrapper {display: block}
.tab.editing .name {display: none}
.tab .tab-content-wrapper {width: 100%; height: 100%; display: flex; align-items: center;}
.tab .name {flex-grow: 1; margin: 0 5px 0 5px; cursor: default; overflow-x: hidden}
.tab .delete {margin-right: 5px}
.tab span:not(:first-of-type):hover {color: var(--main-color-hex); user-select: none}
#add-button {display: inline-block; vertical-align: bottom; color: white; border: white solid 1px; height: 30px; width: 30px; cursor: pointer;}
#add-button span {display: flex; width: 100%; height: 100%; justify-content: center; align-items: center; font-size: 40px; font-weigth: 2000}

#text-area {width: 100%; height: calc(100% - 40px); border: white solid 1px; display: flex; color: white; font-family: 'Roboto Mono'; font-size: 12px}
#text-area #lines {width: 30px; height: 100%; border-right: white solid 1px; background: rgba(0, 0, 0, 0.8)}
#text-area #text-input {width: 100%; height: 100%;}
#text-area textarea {all: unset; width: 100%; height: 100%; transition: 0.5s}
#text-area textarea:focus {background: rgba(0, 0, 0, 0.8)}